.card80 {
    
    padding: 50px;
    border-radius: 5px;
    color: charcoal;
    width: 77%;
    border:1px solid lightgrey;
  }
  .invoice-header{
    padding:30px;
    background-color: rgba(231, 231, 231, 0.733);
    border-radius: 5px;
  }
  .invoice-body{

  }
  .sub-info{
    color:rgba(47, 43, 61, 0.87);
  }
  .sale-details {
    padding: 20px 0 15px 0;
    border-radius: 5px;
    color: black;
    
    border:1px solid lightgrey;
  }
  .card20 {
    border:1px solid lightgrey;
    padding: 15px;
    border-radius: 5px;
    color: black;
    width: 23%;
  }